body{
    background-color: green;
}
h2{
    display: inline;
}
#input{
    margin: 14px;
}
#error{
    color: red;
    font-weight: bold;
}
hr{
    border-color: #A10702;
}
#draw{
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-weight: bold;

}
#draw:hover{
    background-color: #A10702;
    transition: 300ms;
}
#sort{
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-weight: bold;

}
#sort:hover{
    background-color: #A10702;
    transition: 300ms;
}

.carta{
    margin: 15px;
    display: inline-block;
    width: 75px;
    height: 88px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid orangered;
}

.numero{
    font-size: 25px;
    text-align: center;
    width: 100%;
}
.spades::before {
    color: #000000;
    content: '\2660';
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.spades::after {
    color: #000000;
    content: '\2660';
    width: 100%;
    display: flex;
    margin: -5px;
    justify-content: flex-end;
    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}
.heart::before {
    color: red;
    content: '\2665';
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2px;

}

.heart::after {
    color: red;
    content: '\2665';
    width: 100%;
    display: flex;
    margin: -5px;
    justify-content: flex-end;
    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}
.club::before {
    color: #000000;
    content: '\2663';
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.club::after {
    color: #000000;
    content: '\2663';
    width: 100%;
    display: flex;
    margin: -5px;
    justify-content: flex-end;
    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}
.diams::before {
    color: red;
    content: '\2666';
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.diams::after {
    color: red;
    content: '\2666';
    width: 100%;
    display: flex;
    margin: -5px;
    justify-content: flex-end;
    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}


li{
    list-style: none;
    
}

